@import './../../../styles/common';

.user-page {
    padding: 50px 25vw;
    min-height: calc(100vh - 500px);
    display: flex;
    flex-flow: row wrap;

    &__ava {
        display: block;
        width: 150px;
        height: 150px;
        object-fit: cover;
        padding-right: 20px;
    }
    
    &__name {
        @include RussoOne;
        position: relative;
        font-size: 35px;
        line-height: 40px;
        padding-top: 25px;
    }

    &__common-info {
        flex-basis: 100%;
        padding: 20px 0;
        font-size: 14px;
        line-height: 20px;
        text-align: justify;
    }
    
    &__label {
        font-weight: bold;
        margin-right: 5px;
    }
}