$brand-primary: #042351;
$brand-secondary: #efd139;
$brand-logo: #7ec9bd;

$link-primary-hover: #97852b;
$link-primary: #85a1ca;
$link-primary-hover: #4c6286;

$text-primary: white;
$text-regular: black;