@import './../../../styles/common';


$preview-size: 128px;
$preview-paddings: 15px;
$text-padding: 8px;

.course-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &__item {
        position: relative;
        display: block;
        min-height: $preview-size + $preview-paddings;
        display: flex;
        flex-direction: column;
        padding-left: $preview-size + $preview-paddings + $text-padding;
        margin: 20px 0;

        &:first-child {
            margin-top: 0;
        }

        &--derp {
            opacity: 0.5;
        }
    }

    &__tag-list {
        display: flex;
        flex-flow: row wrap;
        margin: 10px 0;
    }

    &__tag {
        display: block;
        font-size: 12px;
        line-height: 16px;
        padding: 2px 10px;
        border: 3px solid $link-primary-hover;
        background: $link-primary;
        margin-right: 10px;
        cursor: default;
    }

    &__preview {
        position: absolute;
        top: $preview-paddings;
        left: $preview-paddings;
        display: block;
        width: $preview-size;
        height: $preview-size;
    }

    &__title {
        @include RussoOne;
        position: relative;
        font-size: 30px;
        line-height: 33px;
        cursor: pointer;
    }

    &__short-desc {
        font-size: 14px;
        line-height: 20px;
    }
}