@import './../../../styles/common';
@import 'main-banner';
@import 'goals';

.home-page {
    position: relative;
    background: no-repeat center/cover url(https://derpicdn.net/img/2012/1/16/514/large.png);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(white, 0.5);
    }
}