.main-banner {
    height: 80vh;
    background: #2b3137;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-radius: 0 0 50px 50px;

    &__title {
        font-size: 60px;
        line-height: 1.2;
    }

    &__slogan {
        font-size: 24px;
        line-height: 72px;
    }

    &__cta {

    }
}